.container {
    width: 100%;
    flex-wrap: wrap;
}

body,
html {
    width: 100%;
    height: 100%;
}

.row {
margin-left: 0px;
margin-right: 0px;
}

/* Nav */

.navbar {
  padding-right: 100px;
}

/*Home section styling*/

.intro-header {
    height : 100vh;
    padding: 60px;
    background-image: url('https://goo.gl/HT9dBO');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
  }

.intro-header h1 {
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 100px; 
}

.intro-header h3 {
  font-family: 'Rock Salt', serif;
}

 .social-links a {  
  padding: 5px 12px;  
}


.social-links a:before {
  margin-right:3px;
}

ul {
  margin-top: 30px;
  list-style: none;
}

li {
  margin-left: 10px;
}

#linkedin {
  background-color: #007bb5;
}

#linkedin:hover {
  background-color: #005882;
}

#facebook {
  background-color: #3b5998;
}

#facebook:hover {
  background-color: #2d4373;
}

#github {
  color: white;
  background-color: #000000;
}

#github:hover {
  background-color: #444444;
}

#twitter {
  color: white;
  background-color: #55acee;
}

#twitter:hover {
  background-color: #2795e9;
  
}

.btn {
  outline: none;
  border: none;
}


/* About section styling */

#about {
  height: 100vh;
  background-image: url(https://goo.gl/y6r7Ro);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'josefin slab', sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

#about-text{
  position: absolute;
  top: 40%;
  margin: 0 150px;
  text-align: justify;
  transform: translate(0, -50%);
}
  

/* Jewelry section styling */

 .content-section-a {
  height : 100vh;
  padding-top: 60px;
  background-image: url('https://goo.gl/N5u7ca') ;
  background-attachment: fixed;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 45%; 
  font-family: 'josefin slab', sans-serif;
   
  }

.content-section-a img {
  width: 250px;
  margin-top: 15px;
}


.content-section-a .container {
  border: 1px solid black;
  background: white;
  position: right;
  margin-top: 80px;
  margin-left: 50px;
}


/* Code section styling */

.content-section-b {
    height : 100vh;
    padding-top: 60px;
    background-image: url('https://goo.gl/dlypYJ');
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: yellow;
   background-size: cover;
   font-family: 'josefin slab', sans-serif;
   flex-wrap: wrap;
  }

.content-section-b .section {
  /* border: 1px solid grey; */
  background: rgba(0, 0, 0, 0.80);
   width: 300px;
  height: 400px;
  position: absolute;

}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.content-section-b img {
  width: 250px;
  margin-top: 25px;
  flex-wrap: wrap;
}

/* Contact section styling */

.content-section-c {
  height: 100vh;
  padding-top: 125px;
  background: url("https://goo.gl/zdlQVm");
  background-attachment: fixed;
  color: yellow;
  font-family: 'josefin slab', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -50px;
  text-align: center justify;
  }

  .row {
    flex-wrap: wrap;
  }


/* Media queries */

/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 1200px) {
.content-section-a .container {
  border: 1px solid black;
  background: white;
  width: 300px !important;
  margin-left: 0;
}
*/

}



/*@media(max-width:767px) {
    .container {
        padding-bottom: 15%;
    }
}*/

